h3.text-center.text-thin Marketplaces

ul.nav
  // START list title
  li.p
    small.text-muted ONLINE
  // END list title
  li
    // START Marketplace status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-success.circle-lg
      span.pull-left
        // Marketplace avatar
        img.media-box-object.img-circle.thumb48(src='app/img/marketplaces/amazon.jpg', alt="Amazon Italia")
      // Marketplace info
      span.media-box-body
        span.media-box-heading
          strong Italia
          br
          small.text-muted Data Feed
    // END Marketplace status
    // START Marketplace status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-success.circle-lg
      span.pull-left
        // Marketplace avatar
        img.media-box-object.img-circle.thumb48(src='app/img/marketplaces/amazon.jpg', alt="Amazon Spagna")
      // Marketplace info
      span.media-box-body
        span.media-box-heading
          strong Spagna
          br
          small.text-muted Data Feed
    // END Marketplace status
    // START Marketplace status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-success.circle-lg
      span.pull-left
        // Marketplace avatar
        img.media-box-object.img-circle.thumb48(src='app/img/marketplaces/ebay.jpg', alt="eBay Italia")
      // Marketplace info
      span.media-box-body
        span.media-box-heading
          strong Italia
          br
          small.text-muted Data Feed
    // END Marketplace status

  // START list title
  li.p
    small.text-muted OFFLINE
  // END list title
  li
    // START Marketplace status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-lg
      span.pull-left
        // Marketplace avatar
        img.media-box-object.img-circle.thumb48(src='app/img/marketplaces/amazon.jpg', alt="Amazon Regno Unito")
      // Marketplace info
      span.media-box-body
        span.media-box-heading
          strong Regno Unito
          br
          small.text-muted Data Feed
    // END Marketplace status
    // START Marketplace status
    a(href="#").media-box.p.mt0
      span.pull-right
        span.circle.circle-lg
      span.pull-left
        // Marketplace avatar
        img.media-box-object.img-circle.thumb48(src='app/img/marketplaces/ebay.jpg', alt="eBay Regno Unito")
      // Marketplace info
      span.media-box-body
        span.media-box-heading
          strong Regno Unito
          br
          small.text-muted Data Feed
    // END Marketplace status