<h3 class="text-center text-thin">Marketplaces</h3>
<ul class="nav">
   <!-- START list title-->
   <li class="p">
      <small class="text-muted">ONLINE</small>
   </li>
   <!-- END list title-->
   <li>
      <!-- START Marketplace status-->
      <a class="media-box p mt0" href="#">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Marketplace avatar-->
            <img class="media-box-object img-circle thumb48" src="app/img/marketplaces/amazon.jpg" alt="Amazon Italia" />
         </span>
         <!-- Marketplace info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Italia</strong>
               <br/>
               <small class="text-muted">Data Feed</small>
            </span>
         </span>
      </a>
      <!-- END Marketplace status-->
      <!-- START Marketplace status-->
      <a class="media-box p mt0" href="#">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Marketplace avatar-->
            <img class="media-box-object img-circle thumb48" src="app/img/marketplaces/amazon.jpg" alt="Amazon Spagna" />
         </span>
         <!-- Marketplace info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Spagna</strong>
               <br/>
               <small class="text-muted">Data Feed</small>
            </span>
         </span>
      </a>
      <!-- END Marketplace status-->
      <!-- START Marketplace status-->
      <a class="media-box p mt0" href="#">
         <span class="pull-right">
            <span class="circle circle-success circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Marketplace avatar-->
            <img class="media-box-object img-circle thumb48" src="app/img/marketplaces/ebay.jpg" alt="eBay Italia" />
         </span>
         <!-- Marketplace info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Italia</strong>
               <br/>
               <small class="text-muted">Data Feed</small>
            </span>
         </span>
      </a>
      <!-- END Marketplace status-->
   </li>
   <!-- START list title-->
   <li class="p">
      <small class="text-muted">OFFLINE</small>
   </li>
   <!-- END list title-->
   <li>
      <!-- START Marketplace status-->
      <a class="media-box p mt0" href="#">
         <span class="pull-right">
            <span class="circle circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Marketplace avatar-->
            <img class="media-box-object img-circle thumb48" src="app/img/marketplaces/amazon.jpg" alt="Amazon Regno Unito" />
         </span>
         <!-- Marketplace info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Regno Unito</strong>
               <br/>
               <small class="text-muted">Data Feed</small>
            </span>
         </span>
      </a>
      <!-- END Marketplace status-->
      <!-- START Marketplace status-->
      <a class="media-box p mt0" href="#">
         <span class="pull-right">
            <span class="circle circle-lg"></span>
         </span>
         <span class="pull-left">
            <!-- Marketplace avatar-->
            <img class="media-box-object img-circle thumb48" src="app/img/marketplaces/ebay.jpg" alt="eBay Regno Unito" />
         </span>
         <!-- Marketplace info-->
         <span class="media-box-body">
            <span class="media-box-heading">
               <strong>Regno Unito</strong>
               <br/>
               <small class="text-muted">Data Feed</small>
            </span>
         </span>
      </a>
      <!-- END Marketplace status-->
   </li>
</ul>